
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .col1 {
    margin-bottom: 30px;
    width: 200px;
    padding-left: 30px;
  }
  
  .col2 {
    margin-left: 0;
    margin-bottom: 30px;
    width: 900px;
  }
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  ul li a:hover {
    color: #f5f5f5;
    text-decoration: underline;
  }
  
  
  
  .footer-copyright {
    font-size: 15px;
  }
  
  @media (max-width: 1200px) {
    .col1 {
      width: 100%; 
      padding: 0 20px; 
      text-align: center; 
    }
    
    .col2 {
      width: 100%; 
      margin: 0; 
      text-align: center; 
    }
  }