.header {
    padding: 10px 0;
    background-color: #3e3e3e;
  }
  
  
  
  .search-bar::placeholder {
    color: #e88b00;
  }
  
  .search-bar:focus {
    box-shadow: rgb(252, 207, 231);
    border-color: #ced4da;
  }

  .btn-searchbar {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    margin-top: 5px;
    
  }
  
  .search-bar {
    border-radius: 20px;
    padding: 8px;
   margin-top: 3px;
  }
  
  .text-center {
    text-align: center;
  }
  