/* header.css */

.header {
  padding: 10px 20px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.shopping-bag-icon {
  margin-right: 10px;
  color: white;
}

.brand-name {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 400px;
}

.search-bar input {
  margin-top: 4px;
  flex: 1;
  height: 40px;
  font-size: 14px;
  border: none;
}

.btn-searchbar {
  height: 40px;
  border-radius: 0 20px 20px 0;
  background-color: #393939;
  color: white;
  border: none;
  padding: 0 15px;
}

.btn-searchbar:hover {
  background-color: #ff5252;
}

.user-options {
  display: flex;
  align-items: center;
}

.welcome-message {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.nav-link {
  color: white;
  margin-right: 15px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #ff5252;
}



@media screen and (max-width: 768px) {
  .brand-name {
    font-size: 24px;
  }

  .search-bar{
    width: fit-content;
  }

  .btn-searchbar {
    height: 41px;
  }
}


