.header {
  padding: 5px 0;
  background-color: #3e3e3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.brand {
  display: flex;
  align-items: center;
}

.shopping-bag-icon {
  margin-right: 10px;
  color: white;
}

.brand-name {
  color: white;
  cursor: pointer;
}

.search-bar {
  width: 400px;

  
}

.search-bar input {
  border-radius: 20px;
}

.btn-searchbar {
  background-color: #393939;
  color: white;
  border-radius: 20px;
  &:hover {
    background-color: #ff5252;
  }
}

.nav-link {
  color: white !important;
  margin-right: 15px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #ff5252;
}

.text-center {
  text-align: center;
}
