.carousel-image {
  margin: auto;
  width: 1500px; /* Set the desired width */
  height: 300px; /* Set the desired height */
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  transition: transform 0.6s ease;
}

.carousel-image:hover {
  transform: scale(1.1);
}

.my-5{
  margin-top: auto;
}
