
.cart-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
  }
  

  .saved-products {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .my-orders {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .order-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .order-card {
    flex: calc(50% - 10px);
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  