
.cart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px auto;
}

.cart-section {
  width: 45%; 
}

.my-orders {
  margin-bottom: 20px;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
}

.order-card {
  width: calc(50% - 20px); 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.order-card p {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .cart-section {
    width: 100%; 
    margin-bottom: 20px;
  }

  .order-card {
    width: calc(100% - 20px); 
  }
}