.user-profile-container {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #252424;
  color: white;
  padding: 20px;
  height: 100%;
  align-items: center;
  text-align: center;
  margin-left: 23%;
  max-width: 800px;
  width: 90%;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c4c4c4;
  text-align: center;
  background-image: url('../images/profile.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.btn {
  margin: 4px;
}

@media screen and (max-width: 768px) {
  .user-profile-container {
    margin-left: 5%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
