
.text-container {
  width: 100%;
  height: 1px;
  
}

.dynamic-text {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
  animation:  20s linear infinite;
  text-align: center;
  color: black;
  margin-bottom: 1px;
 
}



