.signup-bg {
  
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {

  margin-right: 350px;
  width: 100%;
  height: 90vh;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}


@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }
  
  .signup-form {
    margin: 0; 
    width: 100%; 
    height: auto; 
  }
}